
/*Google Fonts*/
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,400,500,700,900';

/*-------------------------------------
[ 1. theme default CSS ]
---------------------------------------*/
.products_page .floatleft {float:left}
.products_page .floatright {float:right}
.products_page .alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.products_page .alignright {float:right;margin-left:15px;margin-bottom: 15px}
.products_page .aligncenter {display:block;margin:0 auto 15px}
.products_page a:focus {outline:0px solid}
.products_page img {max-width:100%;}
.products_page .fix {overflow:hidden}
.products_page p {margin:0px;}



.products_page .shop-menu .right p {
    float: right;
    font-size: 12px;
    margin-right: 10px;
    width: 100%
}
.products_page .shop-menu ul{
    display: flex;
}
.products_page .animated {animation-duration: 1.5s;}

.products_page .section-title p {
  line-height: 24px;
}
.category_products_page .section-padding, .products_page .section-padding, .brand_products_page .section-padding{padding:30px 0;}
.category_products_page  .section-padding-top, .products_page  .section-padding-top, .brand_products_page .section-padding-top{padding-top:30px;}
.category_products_page  .section-padding-bottom, .products_page  .section-padding-bottom, .brand_products_page .section-padding-bottom{padding-bottom:30px;}

/* single products  */
.product-item {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #eee;
    padding: 20px;
}
.pro-img > a {display: block;}
.actions-btn a i {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #777;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 2;
}
.actions-btn a i::after {
    background: #ec2e37 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: -1;
}
.actions-btn a i:hover::after {
    transform: scale(1);
}
.actions-btn li:last-child a i {
    margin-right: 0;
}
.actions-btn a i:hover {color: #fff;border-color:#ec2e37;}
.product-title a h5 {
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    display: inline-block;
}
.product-title > p {
    font-size: 16px;
    font-weight: 500;
}
.product-title span {
    color: #ec2e37;
    margin-left: 10px;
}
.product-title a h5:hover ,.product-content .product-title a h5:hover{color: #ec2e37;}
.actions-btn ul {
    display: inline-block;
    padding: 4px 0;
}
/* sell up section */
.padding100{padding:100px 0;}
.pro-img {
    position: relative;
    height: 410px;
    width: 360px;
    background: hsl(0, 0%, 90%);
}
.pro-img img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.riding-one .pro-img::after,.single-arrival .product-item:after,.footer-contact:after {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s;
    width: 100%;
    opacity:0;
}



.riding-item:hover .product-item ,.single-arrival .product-item:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);
    transition:.3s;
}
.riding-item:hover .pro-img::after ,.riding-item:hover .link-icon a ,.single-arrival .product-item:hover:after {
    opacity:1;
}
.riding-item  .actions-btn ul,.best-sell-area .product-item  .actions-btn ul,.single-arrival .actions-btn ,.arival-two .actions-btn ul,.others-product .actions-btn ul,.product-content .actions-btn ul {
    transform:scale(0);
    transition:.5s;
}
.riding-item:hover  .actions-btn ul ,.best-sell-area .product-item:hover  .actions-btn ul ,.single-arrival .product-item:hover .actions-btn,.arival-two .product-item:hover .actions-btn ul,.others-product .product-item:hover .actions-btn ul,.product-content .product-item:hover .actions-btn ul {
    transform:scale(1);
    transition:.5s;
}

.product-item:hover .arrival-title { opacity: 0.3;transition:.3s;}
/* discount section */
.product-title del {font-weight: 400;}
.product-details .right hr {
    background: #ddd none repeat scroll 0 0;
    border: 0 none;
    height: 1px;
    margin: 40px 0;
}

.custom-select::after {
    border-left: 1px solid #ddd;
    color: #1b1b1b;
    content: "";
    font-family: fontawesome;
    font-size: 15px;
    height: 100%;
    line-height: 35px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
}
.custom-select select:focus {
    -webkit-box-shadow: 0 0 0px 0px #ddd;
    -moz-box-shadow: 0 0 0px 0px #ddd;
    box-shadow: 0 0 0px 0px #ddd;
}
.margin50{margin: 50px 0;}
.tag-n-s{
    background: #ec2e37 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    height: 28px;
    left: 15px;
    line-height: 28px;
    position: absolute;
    top: 20px;
    width: 68px;
}

.main-view {
    background: #fff none repeat scroll 0 0;
    padding: 30px;
    border-radius: 0;
}
.modal.animated{animation-duration:.6s;}

.shop-menu {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.shop-menu .tab-menu a {
    border: 1px solid #ddd;
    color: #ddd;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    text-align: center;
    width: 30px;
    float:left;
}
.shop-menu p{
    padding: 10px;
    width: 100%;
}
.shop-menu li{
    display: flex;
    flex-direction: row-reverse;
}
.shop-menu .tab-menu,.pagnation-ul {
    position: relative;
    margin: 0;
    top: 3px;
}
.shop-menu .tab-menu a.active {
    border-color: #777;
    color: #1b1b1b;
}
.shop-menu .right li:first-child {margin-right: 15px;}

.shop-menu .custom-select::after {border: 0 none;}
.product-content .tab-content {margin-top: 20px;}
.product-content .product-item {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    padding: 0;
}
.product-content .product-title h3 {
    font-family: 'barlowbold';
    text-transform: uppercase;
    padding: 10px;
    font-size: 21px;
}
.product-content .product-title {margin-top: 25px;}
.product-content .product-title span {
    margin-left: 0;
    margin-right: 5px;
    font-weight: 500;
}
.product-content .product-title del{color: #999;}
.product-item.margin40 {margin-bottom: 40px;}
.product-content .actions-btn {
    bottom: 30px;
    left: 0;
    position: absolute;
    right: 0;
}
.product-content .actions-btn ul {padding: 0;}
.product-content .ratting i {color: #323334;}
.shop-menu.margin-close{margin-top:-20px;}
