<div class="banner-area">
	<div class="page-banner">
    	<div class="container">
    		<div class="page-title text-left mb-20">
				<h3>Products</h3>
			</div>
    	</div>
    </div>
</div>
        		<!--Banner End-->
        		
        		<!--Main Content Wrapper-->
<section class="product-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="shop-menu clearfix">
                    <div class="">
                        <ul>
                            <li>       
                                <select class="custom-select" ng-model="pageInfo.category" ng-change="pageInfo.filter.category = pageInfo.category ? pageInfo.category.id : '';pageInfo.filter.brand = '';">
                                    <option value="">All Category</option>
                                    <option ng-value="cat" ng-repeat="cat in CategoryAndProducts">{{cat.name}}</option>
                                </select>
                                <p>Category</p>                                  
                            </li>
                            <li ng-if="pageInfo.category && pageInfo.category.id">    
                                                        
                                <select class="custom-select" ng-model="pageInfo.filter.brand">
                                    <option value="">All Brand</option>
                                    <option ng-repeat="product in pageInfo.category.products">{{product.brand}}</option>
                                </select>     
                                <p>Brand</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="shop-menu clearfix">
                    <div class="right floatright">
                        <ul>
                            <li>                            
                                <select class="custom-select" ng-model="pageInfo.orderby">
                                    <option value="title">Name Asc</option>
                                    <option value="-title">Name Desc </option>
                                    <option value="price">Price Asc </option>
                                    <option value="-price">Price Desc</option>
                                </select>                                
                                <p>Sort By</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 text-center">            
            <div class="col-md-4 col-sm-6 " ng-repeat="product in products | filter: pageInfo.filter | orderBy:pageInfo.orderby">
                <div class="product-item margin40">
                    <div class="pro-img">
                        <a ng-click="pageInfo.selected=product" data-toggle="modal" data-target="#quick-view" class="cp"><img style="width: 100%" src="admin/api/uploads/{{product.thump_file}}" alt="Product"></a>
                        <div class="tag-n-s">
                            <span>New</span>
                        </div>
                        <div class="actions-btn">
                            <ul class="clearfix">
                                
                                <li>
                                    <a ng-click="pageInfo.selected=product" data-toggle="modal" data-target="#quick-view" class="cp"><i class="fa fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#"><h5>{{product.title}}</h5></a>
                        
                        <p><span>${{product.price}}</span><!-- <del>$170.00</del> --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- product content section end -->
    <!-- quick view start -->
    <div class="product-details quick-view modal animated zoomIn" id="quick-view" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="quick-img">
                         <img style="width: 100%" src="admin/api/uploads/{{pageInfo.selected.file}}" alt="">
                    </div> 
                  </div>
                </div>
              </div>
            
    </div>
    <!-- quick view end -->
