
							<div class="section" id="commodities" style="display: block;">
                    <h3 class="title" style="display: none;">Commodities</h3>
                    <div class="row between">
                        <div class="five columns calc-wrapper" id="commodity-mcx-calc-fut">
                            <h5 class="equity-head">Futures</h5>
                            <div class="row commodity calc-inputs around">
                                <div class="three columns brokerage-calculator-input commodity-select">
                                    <label>COMMODITY</label>
                                    <select class="comm-fut comm-fut-select" id="commodity_multiplier_fut" ng-model="pricing.comfuture.commodity" ng-change="calcomfuture()"><option ng-value="com" ng-repeat="(key, com) in commodities">{{key}}</option></select>
                                </div>
                                <div class="three columns brokerage-calculator-input">
                                    <label>BUY</label>
                                    <input type="number" min="0" title="Buy" ng-model="pricing.comfuture.buy" ng-change="calcomfuture()" ng-keyup="calcomfuture()" class="comm-fut comm_fut_bp" value="110">
                                </div>
                                <div class="three columns brokerage-calculator-input">
                                    <label>SELL</label>
                                    <input type="number" min="0" title="Sell" ng-model="pricing.comfuture.sell" ng-change="calcomfuture()" ng-keyup="calcomfuture()" class="comm-fut comm_fut_sp" value="112">
                                </div>
                                <div class="three columns brokerage-calculator-input">
                                    <label>Lot</label>
                                    <input type="number" min="0" title="Quantity" ng-model="pricing.comfuture.qty" ng-change="calcomfuture()" ng-keyup="calcomfuture()" class="comm-fut comm_fut_qty" value="1">
                                </div>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Turnover</label>
                                <span class="five columns" id="comm_fut_turn">{{pricing.comfuture.turnover}}</span>
                            </div>
                            <div class="row valuation-block equity-list" ng-class="{strike: pricing.comfuture.actual_brokerage  >= 123}">
                                <label class="seven columns" >Brokerage(For Order)</label>
                                <span class="five columns" id="comm_fut_brokerage">{{pricing.comfuture.actual_brokerage | number:2}}</span>
                                
                            </div>
                            <div class="row valuation-block equity-list" ng-class="{strike: pricing.comfuture.actual_brokerage  < 123}" ng-hide="plan=='fixedplan'"> 
                                <label class="seven columns">Brokerage(Per Day)</label>
                                <span class="five columns" id="comm_fut_brokerage">{{123}}</span>
                                
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Exchange charge</label>
                                <span class="five columns" id="comm_fut_etc">{{pricing.comfuture.transaction_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Clearing charge</label>
                                <span class="five columns" id="comm_fut_cc">{{pricing.comfuture.clearing_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">GST</label>
                                <span class="five columns" id="comm_fut_st">{{pricing.comfuture.tax | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">CTT</label>
                                <span class="five columns" id="comm_fut_ctt">{{pricing.comfuture.stt | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">SEBI charges</label>
                                <span class="five columns" id="sebi_comm_fut">{{pricing.comfuture.sebi | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Stamp duty</label>
                                <span class="five columns" id="stamp_duty_comm_fut">{{pricing.comfuture.stamp_charges | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Total tax and charges</label>
                                <span class="five columns" id="comm_fut_total">{{pricing.comfuture.total_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Points to breakeven</label>
                                <span class="five columns" id="comm_fut_breakeven">{{pricing.comfuture.breakeven | number:2}}</span>
                            </div>
                            <div class="row net-profit" id="comm_fut_profit">
                                <label class="six columns">Net P&amp;L</label>
                                <span class="six columns profit pos" id="comm_fut_pnl">{{pricing.comfuture.profit_realized | number:2}}</span>
                            </div>                  
                        </div>
                        <div class="seven columns calc-wrapper" id="commodity-mcx-calc-opt">
                            <h5 class="equity-head">Options</h5>
                            <div class="row commodity calc-inputs around">
                                <div class="three columns brokerage-calculator-input commodity-select">
                                    <label>COMMODITY</label>
                                    <select class="comm-opt comm-opt-select" id="commodity_multiplier_opt" ng-model="pricing.comoption.commodity" ng-change="calcomoption()"><option  ng-value="com"  ng-repeat="(key, com) in commodities" ng-if="com.option">{{key}}</option></select>
                                </div>
                                <div class="three columns brokerage-calculator-input">
                                    <label>STRIKE PRICE</label>
                                    <input type="number" min="0" title="Strike Price" ng-model="pricing.comoption.strikeprice" ng-change="calcomoption()" ng-keyup="calcomoption()" id="comm_opt_srp_input" class="comm-opt comm_opt_srp" value="400">
                                </div>
                                <div class="two columns brokerage-calculator-input">
                                    <label>BUY</label>
                                    <input type="number" min="0" title="Buy Premium" ng-model="pricing.comoption.buy" ng-change="calcomoption()" ng-keyup="calcomoption()" class="comm-opt comm_opt_bp" value="1">
                                </div>
                                <div class="two columns brokerage-calculator-input">
                                    <label>SELL</label>
                                    <input type="number" min="0" title="Sell Premium" ng-model="pricing.comoption.sell" ng-change="calcomoption()" ng-keyup="calcomoption()" class="comm-opt comm_opt_sp" value="2">
                                </div>
                                <div class="two columns brokerage-calculator-input">
                                    <label>Lot</label>
                                    <input type="number" min="0" title="Quantity" ng-model="pricing.comoption.qty" ng-change="calcomoption()" ng-keyup="calcomoption()" class="comm-opt comm_opt_qty" value="1">
                                </div>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">
                                    Turnover
                                    <!-- <span class="comm_opt_notional" title="Notional turnover: 2007500.00">?</span> -->
                                </label>
                                <span class="five columns" id="comm_opt_turn">{{pricing.comoption.turnover | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list" ng-class="{strike: pricing.comoption.actual_brokerage  >= 123}">
				                                <label class="seven columns" >Brokerage(For Order)</label>
				                                <span class="five columns" id="comm_fut_brokerage">{{pricing.comoption.actual_brokerage | number:2}}</span>
				                            </div>
				                            <div class="row valuation-block equity-list" ng-class="{strike: pricing.comoption.actual_brokerage < 123}" ng-hide="plan=='fixedplan'">
				                                <label class="seven columns">Brokerage(Per Day)</label>
				                                <span class="five columns" id="comm_fut_brokerage">{{123}}</span>				                                
				                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Exchange charge</label>
                                <span class="five columns" id="comm_opt_etc">{{pricing.comoption.transaction_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Clearing charge</label>
                                <span class="five columns" id="comm_fut_cc">{{pricing.comoption.clearing_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">GST</label>
                                <span class="five columns" id="comm_opt_st">{{pricing.comoption.tax | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">CTT</label>
                                <span class="five columns" id="comm_opt_ctt">{{pricing.comoption.stt | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">SEBI charges</label>
                                <span class="five columns" id="sebi_comm_opt">{{pricing.comoption.sebi | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Stamp duty</label>
                                <span class="five columns" id="stamp_duty_comm_opt">{{pricing.comoption.stamp_charges | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Total tax and charges</label>
                                <span class="five columns" id="comm_opt_total">{{pricing.comoption.total_charge | number:2}}</span>
                            </div>
                            <div class="row valuation-block equity-list">
                                <label class="seven columns">Points to breakeven</label>
                                <span class="five columns" id="comm_opt_breakeven">{{pricing.comoption.breakeven | number:2}}</span>
                            </div>
                            <div class="row net-profit" id="comm_opt_profit">
                                <label class="six columns">Net P&amp;L</label>
                                <span class="six columns profit pos" id="comm_opt_pnl">{{pricing.comoption.profit_realized | number:2}}</span>
                            </div>                            
                        </div>
                    </div>
                </div>
							    	
						